.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.pytest_cache/
__pycache__/
*.pyc
.vscode/
WorkLogger_Compliance_Review.docx
